*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(186, 179, 179);
    padding: 2px;
    text-align: center;
}

div{
    width: 200px;
    height: 170px;
    margin: 0px auto;
    padding: 2px;
    text-align: center;
    line-height: 30px;
}

button{
    background-color: rgb(0, 128, 255);
    color: white;
    width: 30px;
    margin: 2px;
    padding: 2px;
    transition: 1s;
}

button:hover{
    background-color: rgb(0, 255, 242);
    color: black;
}

#pantalla{
    width: 145px;
    background-color: rgb(73, 70, 70);
    color: white;
}
